* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./assets/images/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.bar {
    max-width: 5000px;
    height: 150px;
    margin-top: 60px;
    margin-right: 153px;
    margin-left: 153px;
    margin-bottom: 133px;
    background-color: rgba(255, 255, 255, 0.213);
    border-radius: 10px;
}

.column {
    flex: 1;               /* Permite que as colunas cresçam igualmente */
    text-align: center;    /* Centraliza o texto em cada coluna */
    padding: 10px;        /* Espaçamento interno nas colunas */
    margin: 0 5px;
}

img {
    width: 400px;          /* Defina o tamanho da imagem */
    height: 100px;          /* Mantém a proporção original */
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}



header .bar #logo {
    flex: 1 1 200px;
    background:#c9c9c9;
   
}

.box {
    height: 1893px;
    margin-left: 153px;
    margin-right: 153px;
    margin-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.213);
    border-radius: 10xp;
}

.column {
    color: white;
}