* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/images/background-image.jpg);
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between; /* Espaço entre os elementos */
  align-items: center;
  line-height: 0;
  padding-block: 20px;
}

nav ul {
  list-style: none; /* Remove os marcadores da lista */
  display: flex;
  gap: 24px; /* Espaçamento entre os itens da lista */
  align-items: center;
  padding-block: 8px; /* Espaçamento interno opcional na lista */
}

logo  {
  width: 40px;
  height: 40px;
}


nav ul li:last-child img {
  width: 40px;
  height: 40px;
  bojet
}

a {
  display: flex;
  text-decoration: none; /* Remove sublinhado dos links */
}



















































/* * {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

body {
  background-image: url(./assets/images/background-image.jpg);
  background-size: cover;
}

header {
  max-width: 100%;
  margin: o auto;
  background-color: rgba(36, 36, 36, 0.329);
  margin-top: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between 1%;
}

img.logo-travelgram {
  width: 162px;
  height: 30px;
  margin-left: 30px;
}

img.logo-lupa a {
  display: flex;
  width: 11px;
}

.logo {
  display: flex;
  justify-content: space-between; /* Espaço entre os itens */
 /* width: 100%; /* Define o tamanho da div */
/*  margin-right: 1;
}

.navbar {
  width: 305px;
  padding: 0;
}

nav ul li {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

nav ul li a {
  font-size: 14.4px;
  text-decoration: none;
  color: rgb(255, 115, 0);
  border-radius: 60px;
  transition: 0.35s;
}

ul {
  margin-right: 15px;
}

nav ul li a:hover {
  background-color: rgba(53, 53, 53, 0.801);
}

main {
  display: flex;
}

img.logo-lupa:hover {
  background-color: rgba(53, 53, 53, 0.801);
  display:flex;
  
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}
